<html>

<head>
    <script src="createAd.js"></script>

   <title> Second Hand Shop</title>
   <meta charset="utf-8">
</head>

<body>
    <h1>Create Ad</h1>
    <br />
    <br />

    <input id="productnameInput" placeholder="Product name"></input>
    <br />
    <input type ="number" id="priceInput" placeholder="Price of your product" />
    <br />


    <select name = "Category" id = "categoryInput">
        <option value=>--Choose a Category--</option>
        <option value="Electronic">Electronic</option>
        <option value="Sport">Sport</option>
        <option value="Clothing">Clothing</option>
    </select>
    <select name = "Condition" id = "conditionInput">
        <option value=>--Choose a Condition--</option>
        <option value="Perfect">Perfect</option>
        <option value="AlmostNew">Almost new</option>
        <option value="Good">Good</option>
        <option value="Poor">Poor</option>
    </select>
    <select name = "Location" id = "locationInput">
        <option value=>--Choose a Location--</option>
        <option value="København og omegn">København og omegn</option>
        <option value="Aarhus">Aarhus</option>
        <option value="Odense">Odense</option>
        <option value="Aalborg">Aalborg</option>
        <option value="Sjælland">Sjælland</option>
        <option value="Jylland">Jylland</option>
        <option value="Fyn">Fyn</option>
        <option value="Bornholm">Bornholm</option>
    </select>
    <input type="file" name="img" id="imgInput">
    <br />
    <br />
    <br />
    <button id="createAdButton">Create product ad</button>
</body>

</html>