<html>

<head>
    <script src="adminpage.js"></script>

    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        th,
        td {
            padding: 10px 20px;
            border: 1px solid #000;
        }
    </style>
</head>

<body>
    <h1>Admin page</h1>


    <button id="getUsersButton">Get All Users</button>

    <br />
    <br />
    <div id="userTableContainer"></div>
    <br />
    <br />

    <button id="getAdsButton">Get All Ads</button>

    <br />
    <br />
    <div id="adsTableContainer"></div>

    <br />
    <br />

    <button id="goldenButton">Upgrade user to Premium!</button>

    <br />
    <br />

    

</body>



</html> 