<html>

<head>
    <title>The Secondhand</title>
    <meta charset="UTF-8">
    <script src="createuser.js"></script>
</head>

<body>
    <h1>Create user</h1>
    <br/>
    <input id="usernameInput" placeholder="Username" required>
    <br/><br/>
    <input id="passwordInput" type="password" placeholder="Password" required>
    <br/><br/>
    <input id="EmailInput" type="email" placeholder="Email" required>
    <br/><br/><br/>
    <button id="createUserButton">Create user</button>
</body>

</html>