<html>

<head>
    <title>The Secondhand</title>
    <meta charset="UTF-8">
    <script src="createuser.js"></script>
</head>

<body>
    <h1>Create user</h1>
    <br/>
    <form id="form">
        <input id="usernameInput" placeholder="Username" required>
        <br/><br/>
        <input type="password" id="passwordInput" placeholder="Password" required>
        <br/><br/>
        <input type="email" id="EmailInput" placeholder="Email" required>
        <br/><br/><br/>
        <input type="submit" value="Submit" id="createUserButton"/>
    </form>
</body>

</html>