<!DOCTYPE html>
<head>

    <script src="login.js"></script>
    <title>Log in / Create user</title>

</head>
<body>
    <div class="container">
        <form class="form" 
        id="logIn">
    <h1 class="form__titel">Log in</h1> 
    <div class="form__input-gruppe">
        <input type="email" id="email" class="form__input" autofocus placeholder="Email"/>
    </div>
    <div class="form__input-gruppe">
        <input type="password" class="form__input" autofocus placeholder="password" id="password"/>
    </div>
    <button class="form__button" id="logInButton" value ="Upload!" type="submit" href="/">Log in</button>
    <p class="form__tekst">
        <a class="form__link" href="./createUser.html" id="linkCreateUser">Not a user yet? Create a new user</a>
    </p>
</form>
</div>