<html>

<head>
    <title>update user</title>
    <meta charset="UTF-8">
    <script src="updateuser.js"></script>
</head>

<body>
    <h1>update user</h1>
    <br/>
    <input id="usernameInput" placeholder="Your new username" required>
    <br/><br/>
   <input id="passwordInput" type="password" placeholder="Type your password..." required> 
    <br/><br/>
    <button id="updateUserButton">Update your username user</button>
    <br/><br/>
    <h1>request premium</h1>
    <br/><br/><br/>
    <input id="emailInput" placeholder="Your email" required>
    <br/><br/><br/>
    <input id="requestInput" placeholder="Premium, True/false?" required> 
    <br/><br/>
    <br/><br/><br/>
    <button id="requestButton">Request premium</button>
</body>

</html>